.container {
    height: auto;
    width: 80%;
    margin-inline:auto;
    text-align:center;
}
.container img{
    border-radius: 50%;
    height: 15em;
    width: 15em;
    border-color: darkorchid;
    border:3px solid;
}
*{
    color: darkorchid;
}
